.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.637);
}

.menu-title {
  font-family: 'Baskervville', serif;
  letter-spacing: 3.5px;
  font-size: 20px;
  color: #eac067;
}

.nav {
  min-width: 800px;
  max-width: 70%;
  margin-right: 50px;
}

.ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a {
  text-decoration: none;
  color: white;
  transition: all .20s ease;
}
.a:hover {
  cursor: pointer;
  opacity: .7;
}