#banner {
  width: 100%;
  height: 100vh;
  background-image: url('./banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#bannerFilter {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, .8);
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner--img {
  width: 300px;
}
#banner--title {
  max-width: 800px;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 40px;
  letter-spacing: 3px;
  color: #eac067;
}